   
.service-title{
    text-align: center;
  }
 .maincard {
  
    position: relative;
    width: 300px;
    height: 400px;
  }
  
.thecard {
    position: absolute;
    width: 100%;
    height: 85%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
  }
  
.thecard:hover {
    transform: rotateY(180deg) scale(1.08)
  }
  
.thefront {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: hidden;
    background: #fff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 10px;
   }

.thefront h3{
    padding-top: 70px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 30px;
   }
  
  
  
  
.theback {
   position: absolute;
   width: 100%;
   height: 90%;
   cursor: pointer;
   background-color: hidden;
   background: #191b86;
   color: #fff;
   border-radius: 10px;
   transform: rotateY(180deg);
   border: 1px solid #eee;
   box-shadow: 5px 6px 6px 2px #e9ecef;
   padding: 10px
  }
  
.user_name {
   color: #eee;
   font-size: 10px;
   margin-top: 0px
  }
  
.about h4{
    text-align: center;
   font-size: 30px;
   font-weight: bold;
   font-family: "Nunito", sans-serif; 
  }

.about p{
    padding: 12px;
    line-height: 2rem;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}  