

.projects img{
    background-color: rgb(245, 210, 210);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    transition: transform .5s ease;
}
 
.projects img:hover{
    transform: scale(1.1);
}

.btn{
    font-size: 25px;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #012970;
    color: #ffffff;
    transition: transform .5s ease;

}

.btn:hover{
    background-color: #0b3988;
    color: #ffffff;
    transform: scale(1.1);
}
